.content, .error{
	display: none;
}

.loading{
	margin-top: 10px;
	text-align: center;
	color: #3497e4;
	font-family: 'Verdana';
	text-transform: uppercase;
	font-weight: bold;
}

.error{
	margin-top: 10px;
	text-align: center;
	color: #e04006;
	font-family: 'Verdana';
	text-transform: uppercase;
	font-weight: bold;
}

.loading img, .error img{
	width: 128px;
}

.presentacion{
	text-align: center;
	font-family: 'Verdana';
	font-size: 14px;
}

.presentacion .h1{
	font-size: 18px;
	font-weight: bold;
}

.titulo{
	font-size: 18px;
	font-family: 'Verdana';
	font-weight: bold;
	cursor: pointer;
	display: inline-block;
}

.titulo:hover{
	color: #7ea1ff;
}

.tspan{
	float: left;
}

.flecha{
	float: left;
	width: 21px;
	height: 23px;
}

.fdesc{
	background: url("../images/desc.png") no-repeat;
}

.fasc{
	background: url("../images/asc.png") no-repeat;
}

.referencia{
	font-size: 10px;
	font-style: italic;
	text-align: right;
	width: 100%;
	color: #a9a7a7;
}

/* tables */
table.tablesorter {
	font-family: 'Arial';
	font-size: 8pt;
	width: 100%;
	text-align: left;
	border-spacing: 0;
	border-collapse: collapse;
}

table.tablesorter tr, table.tablesorter th, table.tablesorter td{
	border: 1px solid #666;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #7ea1ff;	
	font-size: 8pt;
	padding: 4px;
	text-transform: uppercase;
}

table.tablesorter thead tr .header {
	background-image: url('../images/bg.gif');
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}

table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url('../images/asc.gif');
}

table.tablesorter thead tr .headerSortDown {
	background-image: url('../images/desc.gif');
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #4476fd;
}

@media screen and (max-width: 450px){
	.titulo{
		font-size: 14px;
	}
}

@media screen and (max-width: 320px){
	body{
		width: 320px;
	}
}